<mat-card>

    <mat-card-header *ngIf="curso">
        <mat-card-title>
            Examenes del curso {{curso.nombre}}
        </mat-card-title>
    </mat-card-header>

    <mat-card-content>

        <mat-tab-group dynamicHeight [(selectedIndex)]="tabIndex">

            <!-- tab asignar examenes -->
            <mat-tab label="Asignar Examenes">

                <mat-form-field>
                    <input matInput placeholder="Añadir examen..." [formControl]="autocompleteControl"
                        [matAutocomplete]="autocomplete">

                    <mat-autocomplete #autocomplete="matAutocomplete" [displayWith]="mostrarNombre"
                        (optionSelected)="seleccionarExamen($event)">
                        <mat-option *ngFor="let examen of examenesFiltrados" [value]="examen">
                            {{examen.nombre}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

                <table mat-table [dataSource]="examenesAsignar" class="mat-elevation-z8 mx-3" style="width: 75%;">

                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef> Nombre </th>
                        <td mat-cell *matCellDef="let examen"> {{examen.nombre}} </td>
                    </ng-container>

                    <ng-container matColumnDef="asignatura">
                        <th mat-header-cell *matHeaderCellDef> Asignatura </th>
                        <td mat-cell *matCellDef="let examen"> {{examen.asignaturaHija.nombre}} </td>
                    </ng-container>

                    <ng-container matColumnDef="eliminar">
                        <th mat-header-cell *matHeaderCellDef> Eliminar </th>
                        <td mat-cell *matCellDef="let examen">
                            <button mat-mini-fab color="warn" (click)="eliminarDelAsignar(examen)">x</button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="mostrarColumnas"></tr>
                    <tr mat-row *matRowDef="let examen; columns: mostrarColumnas;"></tr>

                </table>
                <button mat-raised-button color="primary" class="m-4" (click)="asignar()"
                    [disabled]="examenesAsignar.length === 0">Asignar</button>
            </mat-tab>

            <!-- tab asignar examenes -->
            <mat-tab label="Examenes del curso">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 m-3" style="width: 75%;">

                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> Id </th>
                        <td mat-cell *matCellDef="let examen"> {{examen.id}} </td>
                    </ng-container>

                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef> Nombre </th>
                        <td mat-cell *matCellDef="let examen"> {{examen.nombre}} </td>
                    </ng-container>

                    <ng-container matColumnDef="asignaturas">
                        <th mat-header-cell *matHeaderCellDef> Asignatura </th>
                        <td mat-cell *matCellDef="let examen">
                            {{examen.asignaturaPadre.nombre}} --> {{examen.asignaturaHija.nombre}} </td>
                    </ng-container>

                    <ng-container matColumnDef="eliminar">
                        <th mat-header-cell *matHeaderCellDef> Eliminar </th>
                        <td mat-cell *matCellDef="let examen">
                            <button mat-mini-fab color="warn" (click)="eliminarExamenDelCurso(examen)">x</button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="mostrarColumnasExamenes"></tr>
                    <tr mat-row *matRowDef="let examen; columns: mostrarColumnasExamenes;"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="pageSizeOptions" showFirstLastButtons class="float-left mx-2">
                </mat-paginator>
            </mat-tab>

        </mat-tab-group>
    </mat-card-content>
</mat-card>