<div class="card bg-light mb-3">
    <div class="card-header">{{titulo}}</div>
    <div class="card-body">
      <button class="btn btn-secondary my-2" routerLink="/cursos">volver</button>
  
      <form>
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="text" name="nombre" class="form-control" id="nombre" [(ngModel)]="model.nombre">
          <div class="alert alert-danger" *ngIf="error && error.nombre">
            {{error.nombre}}
          </div>
        </div>

        <div class="form-group">
          <button type="button" class="btn btn-primary"
            (click)="model.id? editar(): crear()">{{model.id? 'Editar': 'Crear'}}
          </button>
        </div>
      </form>
    </div>
  </div>
  