<div class="card bg-light mb-3">
  <div class="card-header">{{titulo}}</div>
  <div class="card-body">
    <button class="btn btn-secondary my-2" routerLink="/cursos/form">crear</button>
    <div class="alert alert-info" *ngIf="lista?.length==0">
      No hay cursos el el sistema
    </div>
    <table class="table table-hover table-striped" *ngIf="lista?.length>0">
      <thead>
        <tr>
          <th>id</th>
          <th>nombre</th>
          <th>alumnos</th>
          <th>examenes</th>
          <th>creado en</th>
          <th>editar</th>
          <th>eliminar</th>
        </tr>
      </thead>
      <tbody *ngFor="let curso of lista">
        <tr>
          <td>{{curso.id}}</td>
          <td>{{curso.nombre}}</td>
          <td><button class="btn btn-info btn-sm" [routerLink]="['/cursos/asignar-alumnos', curso.id]">añadir
              ({{curso.alumnos.length}})</button>
          </td>
          <td>
            <button class="btn btn-info btn-sm"
              [routerLink]="['/cursos/asignar-examenes', curso.id]">Añadir ({{curso.examenes.length}})</button>
          </td>
          <td>{{curso.createAt | date: 'yyyy/MM/dd'}}</td>
          <td>
            <button class="btn btn-secondary btn-sm" [routerLink]="['/cursos/form', curso.id]">editar
            </button>
          </td>
          <td>
            <button class="btn btn-danger btn-sm" (click)="eliminar(curso)">eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <mat-paginator [length]="totalRegistros" [pageSize]="totalPorPagina" [pageIndex]="paginaActual"
      [pageSizeOptions]="pageSizeOptions" (page)="paginar($event)" showFirstLastButtons class="float-left mx-2">
    </mat-paginator>

  </div>
</div>