<div class="card bg-light mb-3">
  <div class="card-header">{{titulo}}</div>
  <div class="card-body">
    <button class="btn btn-secondary my-2" routerLink="/alumnos/form">crear</button>
    <div class="alert alert-info" *ngIf="lista?.length==0">
      No hay alumnos el el sistema
    </div>
    <table class="table table-hover table-striped" *ngIf="lista?.length>0">
      <thead>
        <tr>
          <th>id</th>
          <th>foto</th>
          <th>nombre</th>
          <th>apellido</th>
          <th>email</th>
          <th>creado en</th>
          <th>examenes</th>
          <th>editar</th>
          <th>eliminar</th>
        </tr>
      </thead>
      <tbody *ngFor="let alumno of lista">
        <tr>
          <td>{{alumno.id}}</td>
          <td>
            <img *ngIf="alumno.fotoHashCode" 
              [src] ="baseEndPoint + '/uploads/img/' + alumno.id + '?fotoHashCode=' +alumno.fotoHashCode"
              class="img-thumbnail rounded"
              style="width: 64px; cursor: pointer;">

            <img *ngIf="!alumno.fotoHashCode" 
              [src] ="'/assets/images/user.png'"
              class="img-thumbnail rounded"
              style="width: 64px; cursor: pointer;">
          </td>
          <td>{{alumno.nombre}}</td>
          <td>{{alumno.apellido}}</td>
          <td>{{alumno.email}}</td>
          <td>{{alumno.createAt | date: 'yyyy/MM/dd'}}</td>
          <td><button class="btn btn-primary btn-sm"
              [routerLink]="['/alumnos/responder-examen', alumno.id]">responder</button></td>
          <td>
            <button class="btn btn-secondary btn-sm" [routerLink]="['/alumnos/form', alumno.id]">editar
            </button>
          </td>
          <td>
            <button class="btn btn-danger btn-sm" (click)="eliminar(alumno)">eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <mat-paginator 
      [length]="totalRegistros" 
      [pageSize]="totalPorPagina" 
      [pageIndex]="paginaActual"
      [pageSizeOptions]="pageSizeOptions"
      (page)="paginar($event)"
      showFirstLastButtons
      class="float-left mx-2">
    </mat-paginator>

  </div>
</div>
